@import "@/styles/variables";

.user-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #FBFBFB;
}

.user-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.user-sidebar {
    width: 280px;
    background-color: var(--background);
    border-right: 1px solid #e5e5e5;
    overflow-y: auto;
    overflow-x: hidden;

    @include tablet {
        width: 240px;
    }

    @include mobile {
        display: none;
    }
}

.user-title {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--text-secondary);
}

.stats-container {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.user-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    gap: 4rem;
    padding: 3rem 6rem 2rem 6rem;


    main {
        flex: 1;
        padding: 2rem;
        background-color: #fbfbfb;
        overflow-y: auto;

        @include tablet {
            padding: 1.5rem 1rem;
        }

        @include mobile {
            padding: 1rem;
        }
    }
}