@import '../styles/variables';

:root {
  --background: #{$background-light};
  --foreground: #{$foreground-light};
  --text-primary: #{$text-primary};
  --text-secondary: #{$text-secondary};
  --text-tertiary: #{$text-tertiary};


  --font-body: var(--font-work-sans);
  --font-heading: var(--font-avenir-next);
}

@media (prefers-color-scheme: dark) {
  :root {
    // --background: #{$background-dark};
    // --foreground: #{$foreground-dark};
    --text-primary: #{$text-primary};
    --text-secondary: #{$text-secondary};
    --text-tertiary: #{$text-tertiary};
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body); /* <-- use Work Sans for body */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading); /* <-- use Avenir Next for headings */
  font-weight: 600;
  color: var(--foreground);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Hide scrollbars globally */
*::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
