@import "../styles/variables";

.navbar {
    width: 100%;
    background-color: var(--background);
    height: 10rem;
    // border-bottom: 1px solid #e5e5e5;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    gap: 2rem;
    width: 100%;

    @include tablet {
        padding: 1.5rem 1rem;
        gap: 1rem;
    }

    @include mobile {
        padding: 1.5rem 1rem;
        gap: 1rem;
    }
}

.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15rem;
    flex: 1;

    @include mobile {
        gap: 1rem;
    }
}

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;

    @include mobile {
        gap: 1rem;
    }
}

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 400px;

    @include mobile {
        max-width: 200px;
    }
}

.search-input {
    width: 100%;
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: var(--background);
    font-family: var(--font-body);
    font-size: 1.4rem;
    color: var(--text-primary);
    transition: background-color 0.2s;
    border: 1px solid #545f7d26;

    @include mobile {
        font-size: 1.2rem;
        padding: 10px 12px;
    }

    &::placeholder {
        color: rgba(84, 95, 125, 0.5);
    }

    &:focus {
        border-color: $text-tertiary;
    }
}

.search-icon-wrapper {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    background-color: $text-tertiary;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.search-icon {
    pointer-events: none;
}

.docs-link {
    font-family: var(--font-body);
    font-size: 1.6rem;
    color: var(--text-secondary);
    text-decoration: underline;
    transition: color 0.2s;

    @include mobile {
        font-size: 1.2rem;
    }

    &:hover {
        color: $text-tertiary;
    }
}

.profile-name {
    font-family: var(--font-body);
    font-size: 1.6rem;
    color: var(--text-secondary);
    font-weight: 600;

    @include mobile {
        font-size: 1.2rem;
    }
}

.profile-pic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;

    @include mobile {
        width: 32px;
        height: 32px;
    }
}