@import '../styles/variables';

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-top: 2rem;
  // padding: 1.5rem 0;
}

.pagination-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: var(--font-body);
  font-size: 1.4rem;
  color: var(--text-primary);
}

.show{
  background-color: rgba($text-secondary, 0.1);
  padding: .5rem 1.5rem;
  border-radius: .6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pagination-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.pagination-btn {
  font-family: var(--font-body);
  font-weight: 500;
  padding: 0.6rem 0.8rem;
  border: none;
  color: var(--text-primary);
  opacity: .5;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
  background-color: transparent;

  &:hover:not(:disabled) {
    color: $text-tertiary;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.active {
    color: $text-primary;
    opacity: 1;
  }

  &.dots {
    cursor: default;
    border: none;
    
    &:hover {
      background-color: transparent;
    }
  }

  &.prev-btn,
  &.next-btn {
    font-weight: 600;
    font-size: 1.4rem;
    opacity: 1;
  }
}
