@import "../styles/variables";
@import '../styles/mixins.scss';


.stat-card {
  width: 100%;
  max-width: 24rem;
  height: 16rem;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  max-width: 240px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  @include mobile{
    max-width: 100%;
  }
}

.stat-card-content {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  height: 100%;
  justify-content: space-around;
  padding: 1rem 2rem 2rem 1.2rem ;
}

.stat-card-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.stat-icon {
  flex-shrink: 0;
}

.stat-label {
  margin: 0;
  font-size: 1.4rem;
  letter-spacing: 0;
  font-weight: 500;
  color: $text-primary;
  line-height: 1.4;
}

.stat-value {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--text-secondary);
  line-height: 1;
}
