@import '../styles/mixins.scss';
@import '../styles/variables.scss';

.stats-container {
  display: flex;
  justify-content: space-between;
  // gap: 2.5rem;

  @include desktop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  @include tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  @include mobile {
    display: flex;
    flex-direction: column;
  }
}

.stats-container-loading,
.stats-container-error {
  padding: 2rem;
  font-size: 1.4rem;
  color: var(--text-primary);
}

.stats-container-error {
  color: #d32f2f;
}
