@import "../styles/variables";

.stat-card {
  width: 100%;
  max-width: 24rem;
  height: 16rem;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  transition: all 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.stat-card-content {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  height: 100%;
  justify-content: space-around;
  padding: 1rem 2rem 2rem 1.2rem ;
}

.stat-card-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.stat-icon {
//   width: 24px;
//   height: 24px;
  flex-shrink: 0;
}

.stat-label {
  margin: 0;
  font-family: var(--font-body);
  font-size: 1.4rem;
  font-weight: 500;
  color: $text-primary;
  line-height: 1.4;
}

.stat-value {
  font-family: var(--font-body);
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--text-secondary);
  line-height: 1;
}
