@import '@/styles/variables';

.dashboard-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.dashboard-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.dashboard-sidebar {
  width: 280px;
  background-color: var(--background);
  border-right: 1px solid #e5e5e5;
  overflow-y: auto;
  overflow-x: hidden;

  @include tablet {
    width: 240px;
  }

  @include mobile {
    display: none;
  }
}

.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  main {
    flex: 1;
    padding: 2rem;
    background-color: #FBFBFB;
    overflow-y: auto;

    @include tablet {
      padding: 1.5rem 1rem;
    }

    @include mobile {
      padding: 1rem;
    }
  }
}

.dashboard-main{
    background-color: #FBFBFB;
}