@import '@/styles/variables';

.dashboard-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.dashboard-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.dashboard-sidebar {
  width: 280px;
  background-color: var(--background);
  border-right: 1px solid #e5e5e5;
  overflow-y: auto;
  overflow-x: hidden;

  @include tablet {
    width: 240px;
  }

  @include mobile {
    display: none;
  }
}

.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  main {
    flex: 1;
    padding: 2rem;
    background-color: #FBFBFB;
    overflow-y: auto;

    @include tablet {
      padding: 1.5rem 1rem;
    }

    @include mobile {
      padding: 1rem;
    }
  }
}

.dashboard-main{
    background-color: #FBFBFB;
}

/* Replicate users styles with dashboard prefix */
.dashboard-title {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--text-secondary);
}

.stats-container {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.dashboard-main {
    gap: 4rem;
    padding: 3rem 6rem 2rem 6rem;

    @include tablet {
      padding: 2rem 1rem;
    }

    @include mobile {
      padding: 1rem;
    }
}